<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>pose</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div id="video">-->
<!--        <img src="{{ video_feed_url }}">-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pose</title>
</head>
<body>
<div id="youtube_video" width="640" height="400">
{{youtube_video}}
</div>
<div id="cam_video" width="640" height="400">
{{cam_video}}
</div>

</body>
</html>